<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.houoy.game.saigou.dao.BetMapper">
    <sql id="ifWhere">
        <if test="bet_desc != null and bet_desc !=''">
            and a.bet_desc like "%${bet_desc}%"
        </if>
        <if test="win != null and win !=''">
            and a.win = "${win}"
        </if>
        <if test="pk_user != null and pk_user !=''">
            and a.pk_user = "${pk_user}"
        </if>
        <if test="pk_period != null and pk_period !=''">
            and a.pk_period = "${pk_period}"
        </if>
    </sql>
    <select id="retrieveByPK" resultType="java.util.Map">

    </select>
    <select id="retrieveAll" resultType="java.util.Map">

    </select>
    <select id="retrieveAllByPeriodPkAndItem" resultType="com.houoy.game.saigou.vo.BetDetailRecordVO"
            parameterType="com.houoy.game.saigou.vo.SearchWinBetVO">
        select * from game_saigou_bet
        where pk_period="${pk_period}"
        and (
        <foreach collection="bet_item_array" item="item" index="index"
                 open="(" separator="or" close=")">
            bet_item = #{item}
        </foreach>
        )
    </select>
    <select id="retrieveSumByPeriodPK" resultType="com.houoy.game.saigou.vo.IncomeVO" parameterType="string">
         SELECT pk_period,
        SUM( CASE WHEN bet_item='big' THEN bet_money END) as bet_big,
        SUM( CASE WHEN bet_item='little' THEN bet_money END) as bet_little,
        SUM( CASE WHEN bet_item='odd' THEN bet_money END) as bet_odd,
        SUM( CASE WHEN bet_item='even' THEN bet_money END) as bet_even,
        SUM( CASE WHEN bet_item='1' THEN bet_money END) as 'bet_1',
        SUM( CASE WHEN bet_item='2' THEN bet_money END) as 'bet_2',
        SUM( CASE WHEN bet_item='3' THEN bet_money END) as 'bet_3',
        SUM( CASE WHEN bet_item='4' THEN bet_money END) as 'bet_4',
        SUM( CASE WHEN bet_item='5' THEN bet_money END) as 'bet_5',
        SUM( CASE WHEN bet_item='6' THEN bet_money END) as 'bet_6',
        SUM( CASE WHEN bet_item='7' THEN bet_money END) as 'bet_7',
        SUM( CASE WHEN bet_item='8' THEN bet_money END) as 'bet_8',
        SUM( CASE WHEN bet_item='9' THEN  bet_money END) as 'bet_9',
        SUM( CASE WHEN bet_item='10' THEN bet_money END) as 'bet_10'
        FROM game_saigou_bet
        where pk_period="${pk_period}"
        group by pk_period
    </select>
    <select id="retrieveAllCount" resultType="java.lang.Long">
        select count(a.pk_bet) from game_saigou_bet a
        left join game_saigou_period b on a.pk_period = b.pk_period
        left join sm_user c on a.pk_user = c.pk_user
        <where>
            <include refid="ifWhere"/>
        </where>
    </select>
    <select id="retrieveAllWithPage" resultType="com.houoy.game.saigou.vo.BetDetailRecordVO">
        select a.*,b.period_CODE,c.user_code from game_saigou_bet a
        left join game_saigou_period b on a.pk_period = b.pk_period
        left join sm_user c on a.pk_user = c.pk_user
        <where>
            <include refid="ifWhere"/>
        </where>
        order by
        ${orderColumnName} ${orderDir}
        limit
        #{start},#{length}
    </select>
    <insert id="saveByVO" parameterType="com.houoy.game.saigou.vo.BetDetailRecordVO"
            useGeneratedKeys="true" keyProperty="pk_bet" keyColumn="pk_bet">
        insert into game_saigou_bet(bet_desc,pk_user,
        pk_period,bet_item,bet_money)
        values
        (#{bet_desc},#{pk_user},
        #{pk_period},#{bet_item},#{bet_money})
    </insert>

    <update id="updateByVO">
        update game_saigou_bet
        <trim prefix="SET" suffixOverrides=",">
            <if test="bet_desc != null">bet_desc=#{bet_desc},</if>
            <if test="win != null">win=#{win}</if>
        </trim>

        where pk_bet=#{pk_bet}
    </update>

    <update id="updateWinByPeriodPkAndItem" parameterType="com.houoy.game.saigou.vo.SearchWinBetVO">
        update game_saigou_bet set win="1"
        where pk_period="${pk_period}"
        and (
        <foreach collection="bet_item_array" item="item" index="index"
                 open="(" separator="or" close=")">
            bet_item = #{item}
        </foreach>
        )
    </update>

    <delete id="deleteByPK">
        delete from game_saigou_bet where pk_bet=#{pk_bet}
    </delete>

    <delete id="deleteByPKs" parameterType="java.util.List">
        delete from game_saigou_bet where
        <foreach collection="list" item="item" index="index"
                 open="(" separator="or" close=")">
            pk_bet = #{item}
        </foreach>
    </delete>
</mapper>

