<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.houoy.game.saigou.dao.IncomeMapper">
    <sql id="ifWhere">
        <if test="pk_period!=null and pk_period!=''">
            and pk_period = "${pk_period}"
        </if>
    </sql>
    <select id="retrieveByPK" resultType="com.houoy.game.saigou.vo.IncomeVO" parameterType="string">
        select * from game_saigou_income
        where pk_income=${pk}
    </select>
    <select id="retrieveAll" resultType="java.util.Map">

    </select>
    <select id="retrieveAllCount" resultType="java.lang.Long">
        select count(*) from game_saigou_income
        <where>
            <include refid="ifWhere"/>
        </where>
    </select>
    <select id="retrieveAllWithPage" resultType="com.houoy.game.saigou.vo.IncomeVO">
        select * from game_saigou_income
        <where>
            <include refid="ifWhere"/>
        </where>
        order by
        ${orderColumnName} ${orderDir}
        limit
        #{start},#{length}
    </select>

    <insert id="saveByVO" parameterType="com.houoy.game.saigou.vo.IncomeVO">
        insert into game_saigou_income(pk_period,bet_odd,bet_even,bet_big,bet_little,
        bet_1,bet_2,bet_3,bet_4,bet_5,bet_6,bet_7,bet_8,bet_9,bet_10,
        win_1,win_2,win_3,win_4,win_5,win_6,win_7,win_8,win_9,win_10,
        odds,win_num,rateTwo,rateNum,total_bet,total_win)
        values
        (#{pk_period},#{bet_odd},#{bet_even},#{bet_big},#{bet_little},
        #{bet_1},#{bet_2},#{bet_3},#{bet_4},#{bet_5},#{bet_6},#{bet_7},#{bet_8},#{bet_9},#{bet_10},
        #{win_1},#{win_2},#{win_3},#{win_4},#{win_5},#{win_6},#{win_7},#{win_8},#{win_9},#{win_10},
        #{odds}, #{win_num},#{rateTwo}, #{rateNum},#{total_bet}, #{total_win})
    </insert>

    <update id="updateByVO">
        update game_saigou_income
        <trim prefix="SET" suffixOverrides=",">
            <if test="pk_period != null">pk_period=#{pk_period},</if>
        </trim>

        where pk_income=#{pk_income}
    </update>

    <delete id="deleteByPK">
        delete from game_saigou_income where pk_income=#{pk_income}
    </delete>

    <delete id="deleteByPKs" parameterType="java.util.List">
        delete from game_saigou_income where
        <foreach collection="list" item="item" index="index"
                 open="(" separator="or" close=")">
            pk_income = #{item}
        </foreach>
    </delete>
</mapper>

